@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.list {
  border: 1px solid black;
  border-radius: 5px;
  // background-color: blue;
  min-width: 250px;
  max-width: 400px;
  padding: 20px;
  // @include flex-column;
  h2 {
    margin: 0px 20px 10px 16px;
    text-align: center;
  }
}
.list-cards {
  min-height: 100px;
  > div {
    min-height: 100px;
    min-width: 1px;
  }
}
.list-header {
  @include flex-row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  h2 {
    max-width: 60%;
    word-wrap: break-word;
  }
  svg {
    cursor: pointer;
  }
  svg:hover {
    color: $light-blue;
  }
  // padding: 0px 16px;
}

.list-edit {
  @include flex-column;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  input {
    // background-color: $dark-blue;
    border: 0px;
    border-radius: 5px;
    height: 30px;
    font-size: larger;
    font-weight: 600;
    color: black;
    text-align: center;
  }
  button {
    background-color: $gray;
    padding: 4px 16px;
    border: 1px solid $gray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  button:hover {
    border: 1px solid $light-blue;
    // background-color: $green;
  }
}
.list-edit-buttons {
  @include flex-row;
  gap: 24px;
}

.add-card-button {
  background-color: $gray;
  border: 1px solid $red;
  padding: 4px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.create-card {
  @include flex-column;
  justify-content: space-between;
  gap: 6px;
  width: 100%;
  padding: 6px 12px;
  input,
  textarea {
    background-color: $blue-gray;
    border: 1px solid $gray;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    font-size: larger;
    // font-weight: 600;
    color: white;
    text-align: center;
  }
  button {
    background-color: $gray;
    padding: 4px 16px;
    border: 1px solid $gray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  button:hover {
    border: 1px solid $light-blue;
    // background-color: $green;
  }
}

.create-card-buttons {
  @include flex-row;
  gap: 24px;
  margin-top: 6px;
}

